## Solución en Python

Cree una data frame con los siguientes listas. El nombre de la data frame debe ser *artistas*

In [ ]:
nombre=["George Harrison", "Mick Jagger", "Tom Jones", "Davy Jones",
        "John Lennon", "Paul McCartney", "Jimmy Page", "Joe Perry", "Elvis Presley"]

instrumento=["Guitarra", "Voz", "Voz", "Voz", "Guitarra", "Bajo",
             "Guitarra", "Guitarra", "Voz"]
edad = [58, 74, 78, 66, 40, 75, 74, 67, 62]
vivo = [0,1,1,0,0,1,1,1,0]

####

import pandas as pd
columns=['nombre','instrumento','edad','vivo']
data={colname:lista for colname,lista in zip(columns,[nombre,instrumento,edad,vivo])}
artistas=pd.DataFrame(data)
artistas

Muestre los primeros casos de *artistas*

In [ ]:
artistas.head()

Genere el código para cambiar la edad de Elvis Presley por 42

In [ ]:
artistas.loc[artistas.nombre=='Elvis Presley','edad']=42

In [ ]:
artistas.loc[artistas.nombre.str.startswith('Elv'),'edad']=42

In [ ]:
v=artistas.loc[artistas.nombre.str.startswith('Elv')]
if len(v)==1:
    artistas.loc[artistas.nombre.str.startswith('Elv'),'edad']=42

Genere el código para mostrar la información completa del artista que toca el bajo

In [ ]:
artistas[artistas.instrumento=='Bajo']

In [ ]:
artistas[artistas.instrumento.isin(['bajo','Bajo','BAJO'])]

In [ ]:
artistas[artistas.instrumento.str.lower().isin(['bajo'])]
# artistas[artistas.instrumento.str.lower()=='bajo']

Genere el código para mostrar el instrumento de los artistas que superan los 60 años y se encuentran vivos

In [ ]:
pd.unique(artistas[(artistas.edad>60) & (artistas.vivo)].instrumento)

Genere un objeto que contenga la información de *artistas* ordenada de menor a mayor por edad. El objeto debe llamarse *artistas_ordenada*

In [ ]:
toSort=["edad"]
Order=[True]
artistas.sort_values(by=toSort,ascending=Order)

Cree una data frame con los siguientes listas. El nombre de la data frame debe ser "bandas"

In [ ]:
nombre=["George Harrison", "Mick Jagger", "John Lennon", "Paul McCartney", 
         "Jimmy Page", "Joe Perry"]
banda = ["The Beatles", "The Rolling Stones", "The Beatles", "The Beatles", 
          "Led Zeppelin", "Aerosmith"]
grammy=[28, 4, 28, 28, 5, 4]

####

columns=['nombre','banda','grammy']
data2={colname:lista for colname,lista in zip(columns,[nombre,banda,grammy])}
bandas=pd.DataFrame(data2)
bandas

Junte la información de *artistas* y *bandas* utilizando el comando merge. La data frame a generar debe llamarse artistas_total

In [ ]:
artistas_total=pd.merge(artistas,bandas,how='left')

Genere el código para consultar el número de filas (casos) de la data frame *artistas_total*

In [ ]:
artistas_total.shape[0]

Genere el código para mostrar el nombre de la banda del artista con mayor edad

In [ ]:
artistas_total[artistas_total.edad==max(artistas_total.edad)].nombre

Genere el código para ordenar el número de grammys ganados de mayor a menor

In [ ]:
toSort=["grammy"]
Order=[False]
artistas_total.sort_values(by=toSort,ascending=Order)

Muestre los nombres de los artistas con menos de 5 grammys ganados

In [ ]:
artistas_total[(~pd.isnull(artistas_total.grammy)) & (artistas_total.grammy<5)]

Muestre el instrumento de la edad máxima de los artistas de The Beatles

In [ ]:
sub=artistas_total[artistas_total.banda=='The Beatles']
sub[sub.edad==max(sub.edad)].instrumento